/* customizing navbar */
.navbar-default {
	width: 100%;
	position: absolute;
	height: 72px; /* before resize value 72px to 112px */
	margin: 0 auto;
	border-radius: 0;
	border-bottom: 1px solid #ddd;
	box-shadow: 0 0 4px #eee;
	/*padding-top: 15px; before resize value 15px to 40px */
	font-family: "Apple Chancery", "Palatino Linotype"; font-style: italic;
	line-height: 72px;

	/*background:linear-gradient(90deg, green 50%, grey 50%) half and*/
}


/* altered color of links on nav bar */
.navbar .nav > li > a {
    color: black;
    height: 58px;
    }

/* changed the hover cover of links (green) */
.navbar .nav > li > a:hover {
	color: #4CC417;
}

/* getting rid of highlighted box around links */
.nav>li>a:hover, .nav>li>a:focus {
	background-color: transparent;
}


/* logo */

.logo-header {
	display: block;
	margin: 0 auto;
	height: auto;
	width: 108px;
	top: 0;
	padding: 15px;
	vertical-align: middle;
}

a:focus {
    outline: 0;
    outline-offset: 0;
}


/* spacing between navbar and header */

h1 {
	padding: 20px;
}



/* ==========================Footer ============================== */

/* altered glphicon */
.glyphicon-th.green:before {
	/*vertical-align:middle;*/
	position: absolute;
	left: -37px;
	top: -25px;
	content: "\e011";
	font-size: 40px;
	width: 100%;
	color: #4CC417;
	z-index: 10;
}

.glyphicon-th.green:hover {
	/*vertical-align:middle;*/
	color: white;
}


/* button full width */
.btn.full {
	background-color: black;
	border-color: #ccc;
	width: 100%;
	border-radius: 0;
	height: 50px;
}


/* ================================= CONTACT PAGE =================== */
/* contact page container */
.container.contact{
	padding: 108px;
	font-family: "Apple Chancery", "Palatino Linotype"; font-style: italic;
	font-size: 20px;
}

/* positioning contact page text */
.col-md-7.contact{
	position: relative;
	left: 480px;
}

/* apple chancery for header */
.spring-apple {
	font-family: "Apple Chancery", "Palatino Linotype"; font-style: italic;

}

/* placeholder image */

.placeholder.contact {
	position: relative;
	right: 500px;
	top: 50px;
}


.social-btn{
	list-style-type: none;
}

/*================================= HOME PAGE ========================= */
/* home enter image */
.enterimg {
	background-size: cover;
	width: 100%;
}

/*Eden Logo*/

.Eden {
	z-index: 100;
	position: absolute;
	top: 50%;
	left: 45%;
}

.bhome {
	background-color: black;
}


/*=================================== STAFF PAGE ======================*/

.container.staff{
	background-color: #eee;
	padding-top: 80px;
	font-family: "Apple Chancery", "Palatino Linotype"; font-style: italic;
	text-align: center;
}


.container.staff h1{
	font-family: "Apple Chancery", "Palatino Linotype"; font-style: italic;
	text-align: center;
}



/*staff row style*/
.staff-begin {
	padding-top: 90px;
	font-family: "Apple Chancery", "Palatino Linotype"; font-style: italic;
	background-color: #eee;
}

.staff-begin h1 {
	font-family: "Apple Chancery", "Palatino Linotype"; font-style: italic;
	text-align: center;
}

/* positioining images to left */

.staff-img.left {
	/*left: 250px;*/
} 

/* positioning images to right */
.staff-img.right {
	/*left: 250px;*/
} 

/* altering images to circles */
.img-circle.staff{
	width: 200px;
	height: 200px;
	border-radius: 100px;
	margin-left: auto;
	margin-right: auto;
	display: block;
	box-shadow: 0 0 12px rgba(0, 0, 0, .8);
	-webkit-box-shadow: 0 0 12px rgba(0, 0, 0, .8);
	-moz-box-shadow: 0 0 12px rgba(0, 0, 0, .8);
}

.caption.staff{
	text-align:center;
}

/* h3 staff */

.caption.staff h3 {
	font-family: "Apple Chancery", "Palatino Linotype"; font-style: italic;
}

/*======================================== MISSION PAGE ===================*/
.container.mission {
	padding-top: 150px;
	padding-bottom: 50px;
	background-color: #eee;
	font-family: "Apple Chancery", "Palatino Linotype"; font-style: italic;
	font-size: 20px;
}

.container.mission h1 {
	font-family: "Apple Chancery", "Palatino Linotype"; font-style: italic;
}

.col-xs-6.right.mission{
	padding-top: 80px;
}

/*=================================== SPONSORSHIP ==============*/

.container.sponsorship {
	padding-top: 150px;
	padding-bottom: 50px;
	background-color: #eee;
	font-family: "Apple Chancery", "Palatino Linotype"; font-style: italic;
	font-size: 20px;
}

.container.sponsorship h1 {
	font-family: "Apple Chancery", "Palatino Linotype"; font-style: italic;
}

.col-xs-6.right.sponsorship {
	padding-top: 80px;
}


/*============================== ENTER/ EVENT PAGE ===============*/

/*staff row style*/
.event-begin {
	padding-top: 90px;
	font-family: "Apple Chancery", "Palatino Linotype"; font-style: italic;
	background-color: #eee;
}

.event-begin h1 {
	font-family: "Apple Chancery", "Palatino Linotype"; font-style: italic;
	text-align: center;
}

/* positioining images to left */

.event-img.left {
	/*left: 250px;*/
} 

/* positioning images to right */
.event-img.right {
	/*left: 250px;*/
} 

/* altering images to circles */
.img-circle.event{
	width: 200px;
	height: 200px;
	border-radius: 100px;
	margin-left: auto;
	margin-right: auto;
	display: block;
	box-shadow: 0 0 12px rgba(0, 0, 0, .8);
	-webkit-box-shadow: 0 0 12px rgba(0, 0, 0, .8);
	-moz-box-shadow: 0 0 12px rgba(0, 0, 0, .8);
}

.caption.event{
	text-align:center;
}

/* h3 staff */

.caption.event h3 {
	font-family: "Apple Chancery", "Palatino Linotype"; font-style: italic;
}












