<!-- sponsorship.html -->
	<div class="container sponsorship">
      <!-- Example row of columns -->
      <div class="row sponsorship">
        <div class="col-xs-6 left sponsorship">
          <h1>Change for Change</h1>
          <p>On behalf of Howard University Springfest 2014, we invite you to support Change for Change.<br><br>

			<blockquote>“Change for Change educates, supports, and mobilizes a generation of young adult leaders to solve critical community challenges through philanthropy.”- 
			<small>www.changeforchange.org</small></blockquote><br><br>

  			The Change for Change organization is based on the idea that small change – the extra coins lying around under couch cushions, in coat pockets, and in desk drawers – can be used to make positive changes in our communities.</p>
        </div>
        <div class="col-xs-6 right sponsorship">
        	<br>
          <p>We believe that if everyone contributed their small, spare change to a charitable cause, big changes will come. <br><br>This year Howard University would like to invite and encourage our surrounding community to donate to Howard University’s Change for Change Chapter, and in return all proceeds will go towards fighting and preventing Youth Homelessness.<br><br>
			If you would like to donate please contact our committee at: <a href="mailto:#">Springfesthu14@gmail.com</a>

		 </p>
       </div>
      </div>