<!-- contact.html -->
	<div class="container contact">


		<div class="col-md-7 contact">
			<h1 class="spring-apple">
			GET IN TOUCH
			</h1>
			<p> For more information on SpringFest please contact <br>the Spring Fest Committee</p>
		<br>

		<address>
		  <b>Undergraduate Student Assembly</b><br>
		  2397 6th Street NW, Room 117<br>
		  Washington, DC 20059<br>
		  <abbr title="Phone">P:</abbr> (123) 456-7890
		</address>

		<br>

		<address>
		  <b>SpringFest Committee Email:</b><br>
		  <a href="mailto:#">Springfesthu14@gmail.com</a>
		</address>

		<br>
		Social:
		<div class="social-btn">
			<li><a href="#staff"><i class="fa fa-twitter-square"></i> Follow Us!</a></li>
			<li><a href="#mission"><i class="fa fa-facebook-square"></i> Like Us!</a></li>
			<li><a href="#"><i class="fa fa-tumblr-square"></i> Follow!</a></li>
		</div>



	</div>

                <!-- ADD IN DA UUUUSSSSSSSSGGGAAAAAAAA GRAPHIC -->


	<div class="placeholder contact">
			<img src="http://placehold.it/320x300&amp;text=320x300 temp img" style="padding:0 5px 5px 0" alt="" align="left">
		</div>



