<!-- change for enter.html -->
<div class="container event">
	<div class="row event-begin">
		<h1>Events in the Garden Of Eden</h1>
		
		<!-- left column -->
		<div class="event-img col-xs-4 left">

			<img src="media/art-show.jpg" alt="" class="img-circle event">
			<div class="caption event">
				<h3>Art Show<h3>
			</div>

			<img src="media/nvs.jpg" alt="" class="img-circle event">
			<div class="caption event">
				<h3>North V South Game<h3>
			</div>

			<img src="media/mansion.png" alt="" class="img-circle event">
			<div class="caption event">
				<h3>Mansion Party<h3>
			</div>

		</div>

		<!-- center column -->
		<div class="event-img col-xs-4"> 

			<img src="media/def-jam.png" alt="" class="img-circle event">
			<div class="caption event">
				<h3>Def Jam<h3>
			</div>

			<img src="media/fashion-show.jpg" alt="" class="img-circle event">
			<div class="caption event">
				<h3>Fashion Show<h3>
			</div>

			<img src="media/film-festival.jpg" alt="" class="img-circle event">
			<div class="caption event">
				<h3>Film Festival<h3>
			</div>

		</div>

		<!-- right column -->
		<div class="event-img col-xs-4 event"> 

			<img src="media/carnival.png" alt="" class="img-circle event">
			<div class="caption event">
				<h3>Carnival (Fountain of Youth)<h3>
			</div>

			<img src="media/trunk.png" alt="" class="img-circle event">
			<div class="caption event">
				<h3>Trunk Show<h3>
			</div>

			<img src="media/benefit-concert.jpg" alt="" class="img-circle event">
			<div class="caption event">
				<h3>Benefit Concert<h3>
			</div>
		</div>
</div>

	

	<!-- Events
	Art Show
	North V South Game
	Mansion Party
	Def Jam
	Fashion Show
	Film Festival
	Carnival (Fountain of Youth)
	Trunk Show
	Benefit Concert
 -->