<!-- mission.html -->
	<div class="container mission">
      <!-- Example row of columns -->
      <div class="row mission">
        <div class="col-xs-6 left mission">
          <h1>Mission</h1>
          <p>Springfest 2014 is an annual artistic festival dedicated to engaging and inspiring the creative minds at the mecca of African American higher education, Howard University. <br><br>We invite students, fashion aficionados, artistic academics, film makers, designers, poets and the entire D.C. and Howard University community to participate in substantive event. <br><br>Each event will highlight a specific art form and allot a percentage of the proceeds to a designated charity. </p>
        </div>
        <div class="col-xs-6 right mission">
        	<br>
          <p>Some of the charities that will receive donations on Springfest 2014’s behalf include the following:<br><br> Omar Sykes Foundation, SpeakEasy DC, The Emergency Community Arts Collective SOME “So Others May Eat”, Americans for the Arts , Howard University’s Hearing and Disability Clinic, and Change for Change.<br><br> This week long festival will undoubtedly inspire its attendees to pursue their creative goals. 
 
		  The Howard University Springfest 2014 team would like to invite you to share in a remarkable opportunity!
		 </p>
       </div>
      </div>


      