<!-- staff.html --> 
<div class="container staff"
	<div class="row staff-begin">
		<h1>Meet the Staff</h1>
		
		<!-- left column -->
		<div class="staff-img col-xs-6 left">

			<img src="media/yani.jpg" alt="" class="img-circle staff">
			<div class="caption staff">
				<h3>Yanique Richards<br>Springfest Coordinator + Chair<h3>
			</div>

			<img src="media/Camille2.jpg" alt="" class="img-circle staff">
			<div class="caption staff">
				<h3>Camille Camejo<br>Trunkshow Coordinator<h3>
			</div>

			<img src="media/Galllah.jpg" alt="" class="img-circle staff">
			<div class="caption staff">
				<h3>Galilah<br>Art Show Coordinator<h3>
			</div>

			<img src="media/Brandon.jpg" alt="" class="img-circle staff">
			<div class="caption staff">
				<h3>Brandon Banks<br>Charity Basketball Game Coordinator<h3>
			</div>

		</div>

		<!-- right column -->
		<div class="staff-img col-xs-6 right"> 

			<img src="media/Lyasia.jpg" alt="" class="img-circle staff">
			<div class="caption staff">
				<h3>Lyasia Schoolfield<br>Director of Operations<h3>
			</div>

			<img src="media/Trey.jpg" alt="" class="img-circle staff">
			<div class="caption staff">
				<h3>Trey Poindexter<br>Mansion Party Coordinator<h3>
			</div>

			<img src="media/Laurina.jpg" alt="" class="img-circle staff">
			<div class="caption staff">
				<h3>Laurina Hedd-Williams<br>Carnival Coordinator<h3>
			</div>

			<img src="media/Abeni.jpg" alt="" class="img-circle staff">
			<div class="caption staff">
				<h3>Abeni Phillips<br>Art Show Coordinator<h3>
			</div>

		</div>

	</div>


