<!--Cascading templates	-->

<div ng-repeat-start ng-class="{1:'class1',2:'class2',3:'class3',4:'class4'}[classNum]" ng-controller='classController'>
	
	<div id='div1' ng-class="{1:'class1',2:'class2',3:'class3',4:'class4'}[classNum]"></div>
	
	<div id='div2' ng-class="{1:'class1',2:'class2',3:'class3',4:'class4'}[classNum]"></div>
	
	<div id='div3' ng-class="{1:'class1',2:'class2',3:'class3',4:'class4'}[classNum]"></div>






</div ng-repeat-end>